<div class="container">

    
    <form class="ui form width-small" action="/dashboard/search" method="GET">
        <div class="control-group">
            <input class="form-control" type="text" name="ticker" placeholder="ticker">
        </div>
        
        <input class="btn btn-large btn-primary" type="submit">
    </form>
    
</div>