<div class="container">

    
    <form class="ticker-search  horizontal-center" action="/dashboard/search" method="GET">
        <div class=></div>
        <div class="form-group">
            <input class="form-control" type="text" name="ticker" placeholder="ticker">
        </div>
        
        <input class="btn btn-large btn-primary" type="submit">
    </form>
    
</div>