<%- include("partials/header.ejs") %>

<div class="ui container">

<h1>
    Welcome <%= currentUser.username %>! 
</h1>


<form action="/stock" method="GET">
    <input type="text" name="ticker" placeholder="ticker">
    <input type="submit">
</form>




</div>
 




<%- include("partials/footer.ejs") %>