<%- include("partials/header.ejs") %> 



<div class="intro">


    <div class="container vertical-center">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Junghole DIVSTOCK</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>Begin Searching Stocks and Financial News Heres</p>
            <%- include("partials/searchbar.ejs") %>
          </div>
       
    </div>

</div>


<div class="information">
</div>


 

<%- include("partials/footer.ejs") %> 

<!-- 

     <h1>Landing Page</h1>
    
     <a href="/dashboard">Go to dashboard</a>
 -->