<%- include("partials/header.ejs") %> 




<div class="container vertical-center text-center">
    <div class="jumbotron">
        <h1 class="display-4"><span class="brand"> Junghole </span> DIVSTOCK</h1>
        <p class="lead">Junghole Divstock is a simple minimialist financial tool dividend stock investors. Catch up on all the dividend payments for any public company by searching below. Save Companies into your own portfolio for later use!</p>
        <hr class="my-4">
        <p>Begin Searching Stocks and Financial News Heres</p>
            
        <form class="symbol-search  horizontal-center" action="/dashboard/search" method="GET">
            <div class=></div>
            <div class="form-group">
                <input class="form-control" type="text" name="symbol" placeholder="Ticker">
            </div>
            
            <input class="btn btn-large btn-primary" type="submit">
        </form>
    </div>
    
</div>




<div class="news">
</div>


 

<%- include("partials/footer.ejs") %> 
