<%- include("partials/header.ejs") %> 




<div class="container vertical-center text-center">
    <div class="jumbotron">
        <h1 class="display-4"><span class="brand"> Junghole </span> DIVSTOCK</h1>
        <p class="lead">Junghole Divstock is a simple minimialist financial tool dividend stock investors. Catch up on all the dividend payments for any public company by searching below. Save Companies into your own portfolio for later use!</p>
        <hr class="my-4">
        <p>Begin Searching Stocks and Financial News Heres</p>
        <%- include("partials/searchbar.ejs") %>
        </div>
    
</div>




<div class="news">
</div>


 

<%- include("partials/footer.ejs") %> 
