body{
    padding-top: 100px;
    background:   
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

    
}



.bg-dark{
    background-color: #000!important;
}

.navbar-brand{
    font-size: 1.5rem; 
}


.brand{
    font-family: 'Orbitron', sans-serif;
    
}
.content{
    margin: 30px auto;
  
  
 
}

.horizontal-center{
    margin: 0 auto;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

.info-background{
    background: #b4b4b4e6;
    margin: 30px 10%;
}



.jumbotron{
    position: relative;
    bottom: 70px;
    color: white;
    background-color: rgba(100, 100, 100, 0.8);

}

.news{
    width: 100vw;
    height: 100vh;
    /* background: black; */

}


.symbol-search{
    width: 50%;
}

.table-background{
    background: rgb(224, 224, 224);
}
.border-style{
    border: 1px solid black; 
    box-shadow: 1px 1px 25px 10px black;
    border-radius: 10px;
}

